- if @trainee
  %h1
    ="#{@trainee.full_name} Workouts"
  %p
    = "You are connected to #{@trainee.first_name} as a trainer and can see workouts created by you and #{@trainee.first_name} only"
- else
  %h1 My Workouts
%h2 Outstanding
%ul
  - @outstanding_workouts.each do |workout|
    %li
      = link_to "#{workout.title}", workout_path(workout)
      %ul
        %li
          - if workout.creator == workout.user
            created by me
          -else
            ="created by #{workout.creator.full_name}"
        %li
          = "due #{workout.due_date}"
        %li
          = list_exercises(workout)


%h2 Completed
%ul
  - @completed_workouts.each do |workout|
    %li
      = link_to "#{workout.title}", workout_path(workout)
      %ul
        %li
          - if workout.creator == workout.user
            created by me
          -else
            ="created by #{workout.creator.full_name}"
        %li
          = "completed #{workout.completion_date}"
        %li
          = list_exercises(workout)