<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br />
    <%= f.number_field :exercise_id %>
  </div>
  <div class="field">
    <%= f.label :reps %><br />
    <%= f.number_field :reps %>
  </div>
  <div class="field">
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </div>
  <div class="field">
    <%= f.label :distance_units %><br />
    <%= f.text_field :distance_units %>
  </div>
  <div class="field">
    <%= f.label :interval_units %><br />
    <%= f.text_field :interval_units %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
