<h1>Listing exercise_instructions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Exercise</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercise_instructions.each do |exercise_instruction| %>
  <tr>
    <td><%= exercise_instruction.user_id %></td>
    <td><%= exercise_instruction.exercise_id %></td>
    <td><%= exercise_instruction.description %></td>
    <td><%= link_to 'Show', exercise_instruction %></td>
    <td><%= link_to 'Edit', edit_exercise_instruction_path(exercise_instruction) %></td>
    <td><%= link_to 'Destroy', exercise_instruction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise instruction', new_exercise_instruction_path %>
