<p id="notice"><%= notice %></p>

<p>
  <b>Workout:</b>
  <%= @activity.workout_id %>
</p>

<p>
  <b>Sets:</b>
  <%= @activity.sets %>
</p>

<p>
  <b>Rest:</b>
  <%= @activity.rest %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
